# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
/Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.asset
ProjectSettings/ProjectSettings.asset
Assets/02. Script/Player/LauncherCtrl.cs
Assets/06. FX/FX_column_water/FX_column_A_Water.prefab.meta