gitignore_global.txt
#----- 여기부터
# Visual Studio / MonoDevelop generated
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# OS generated
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
hthumbs.db
Thumbs.db
#----- 여기까지

.gitignore
#----- 여기부터
# Unity generated
/Temp/
/Obj/
/UnityGenerated/
/Library/
#----- 여기까지